- if user_signed_in?
  - if current_user.is_admin?
    = simple_form_for @website, html: { multipart: true } do |f|
      = f.input :title
      = f.input :content
      = f.input :image, as: :file
      = f.submit