.wrapper_with_padding
  #website_show
    %h1.title= @website.title
    %p= image_tag @website.image.url(:medium)
    #content= simple_format(@website.content)

    .buttons
      = link_to "Edit", edit_website_path(@website), class: "button"
      = link_to "Delete", website_path(@website), method: :delete, data: { confirm: "Are you sure?" }, class: "button"